{% extends 'asd/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div align="right"><a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a></div>
{% endif %}
<div class="date" align="right">
    <p>published: {{ post.published_date }}</p>
</div>
<div align="center">
<h1><a href="{% url 'post_detail' pk=post.pk %}" style="color:orange;">{{ post.title }}</a></h1>
</div>

        <div class="col-md-12 post">
            <br/ ><br />
          <div class="content container" >

          <p style="font-size:20px;">{{ post.text|linebreaksbr }}</p>
          </div>


        </div>
{% endblock %}
